*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
:root {
  --seasalt: #f8f9fa;
  --antiflash-white: #e9ecef;
  --platinum: #dee2e6;
  --french-gray: #ced4da;
  --french-gray-2: #adb5bd;
  --slate-gray: #6c757d;
  --outer-space: #495057;
  --onyx: #343a40;
  --eerie-black: #212529;

  --bg-gradient: linear-gradient(
    to bottom,
    var(--seasalt),
    var(--antiflash-white),
    var(--platinum)
  );
}
